<h2 mat-dialog-title>Edit Item</h2>
<div>
    <form [formGroup]="editFormGroup">
        <mat-dialog-content>

        <label for="id">Item ID</label>
        <input class="form-control readonly-input" type="text" placeholder="ID" readonly formControlName="id">
        
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">

        <label for="details">Details</label>
        <input type="text" class="form-control" id="details" placeholder="Details" formControlName="details">

        <label for="imgsrc">Image Source</label>
        <input type="text" class="form-control" id="imgsrc" placeholder="Image Source" formControlName="imgsrc">

        <label for="count">Count</label>
        <input type="text" class="form-control" id="count" placeholder="Count" formControlName="count">


        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="btn btn-outline-danger m-2" mat-button mat-dialog-close>Close</button>
            <button class="btn btn-outline-success m-2" (click)="editConfirm()" type="submit" mat-dialog-close>Confirm</button>
        </mat-dialog-actions>
    </form>
</div>

